@model IEnumerable<CustomerSupportDto>
@using Newtonsoft.Json


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Customer Supports List</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-action="CustomerCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Records</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Customer Id
                    </th>
                    <th>
                       WhatsApp
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Call
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.Id</td>
                        <td>@item.WhatsApp</td>
                        <td>@item.Email</td>
                        <td>@item.Call</td>
                        <td>

                            <a asp-action="CustomerToUpdate" asp-route-stateid="@item.Id" class="btn btn-primary">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a asp-action="CustomerDelete" asp-route-stateid="@item.Id" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts
{

    <partial name="_ValidationScriptsPartial" />
}